.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#authContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 80px;
    height: 700px;
    width: 100%;
    max-width: 570px;
    padding: 50px 100px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 13px;
}

.myabcContainer {
    display: flex;
    margin-left: -160px;
    margin-bottom: -30px;
}

.myabc {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin-left: 30px;
}

.emailPassword {
    height: 50px;
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-top: 25px;
}

#submitBtn {
    height: 50px;
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
    cursor: pointer;
    background: rgb(135, 216, 146);

}

.loginSignup {
    font-size: 18px;
    margin-top: 40px;
}

#toggleAccount {
    margin: 30px 0 30px 0;
    padding-top: 8px;
    color: rgb(167, 167, 167);
    font-size: 15px;
    text-align: center;
    background: #e5e5e5;
    width: 150px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    cursor: pointer;
}

#hr_or_hr {
    height: 20px;
    display: flex;
}

#or {
    color: gray;
    margin: -10px 10px 0 10px;
}

.snsAuth {
    margin-top: 20px;
}

#googleAuthBtn {
    background: white;
    height: 50px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #e5e5e5;
}

#githubAuthBtn {
    background: linear-gradient(rgb(241, 241, 241), rgb(190, 190, 190), rgb(155, 155, 155));
    height: 50px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #e5e5e5;
}

#facebookAuthBtn {
    background: linear-gradient(rgb(236, 242, 250), rgb(136, 182, 252), rgb(108, 167, 255));
    height: 50px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #e5e5e5;
}

#error {
    color: red;
}