#search {
    text-align: center;
}

#searchBtn {
    border-radius: 5px;
    font-size: 14px;
    width: 70px;
    height: 30px;
    flex-wrap: nowrap;

}

#searchBar {
    height: 30px;
    width: 445px;
    margin-right: 10px;
    margin: 25px;
    outline: none;
}

#searchIcon {
    font-size: 20px;
    padding: 2px;
}

#wordAudio {
    margin-bottom: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#vocaContainer {
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin: 5px;
    overflow: auto;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    #searchBar {
        width: calc(68% - 40px);
    }
}