#contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seeCreateBtn {
    width: 120px;
    margin: 20px 0 50px -50%;
    border-radius: 5px;
    z-index: 99;
}

#vidCreate {
    display: flex;
    flex-direction: row;
}

#video {
    min-width: 500px;
    width: 100%;
}

#video2 {
    width: 900px;
}

#create {
    margin: -40px 0 0 -17%;
}

@media screen and (max-width: 940px) {
    #vidCreate {
        flex-direction: column-reverse;
    }

    #create {
        margin: -130px 0 -90px -17%;
    }

    #video2 {
        width: 500px;
    }
}